{% extends "base.html" %}

{% block container %}
<div class="row">
  <div class="col-md-12">
    <div id="chart" style="width:100%; height:800px;"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <form id="repos-form">
      <div class="form-group">
        <select id="repos" class="form-control select select-primary select-block mbl">
          {% for repo, selected in repos.items %}
          <option value="{{ repo }}" {% if selected %}selected="selected"{% endif %}>
          {{ repo }}
          </option>
          {% endfor %}
        </select>
      </div>
    </form>
  </div>
  <div class="col-md-4 col-md-offset-4">
    <form id="pipeline-form" class="form-inline">
      <div class="form-group">
        <select id="pipelines" multiple="multiple"
                               class="form-control multiselect multiselect-info">
          {% for pipeline, selected in pipelines.items %}
          <option value="{{ pipeline }}" {% if selected %}selected="selected"{% endif %}>
          {{ pipeline }}
          </option>
          {% endfor %}
        </select>
      </div>
      <button id="submit" class="btn btn-primary">Search</button>
    </form>
  </div>
</div>
{% endblock %}

{% block footer %}
<script>
function querystring(key) {
  var re=new RegExp('(?:\\?|&)'+key+'=(.*?)(?=&|$)','gi');
  var r=[], m;
  while ((m=re.exec(document.location.search)) != null) r.push(m[1]);
  return r;
}

var url = '/chart-data/';
var repo = querystring('repo');
var durationList = querystring('durations');
var since = querystring('since');
var until = querystring('until');

var getPlotLine = function(id, value) {
  var duration = moment.duration(value); 
  var conf = {
    median: {
      color: 'red',
      text: 'Median (' + duration.humanize() + ')'
    },
    average: {
      color: 'green',
      text: 'Average (' + duration.humanize() + ')'
    }
  };
  return {
    id: id,
    value: value,
    color: conf[id]['color'],
    dashStyle: 'shortdash',
    width: 2,
    label: {
      text: conf[id]['text']
    }
  }
}

$.getJSON(url + window.location.search, function (data) {
  seriesIds = data.series_ids;
  var options = {
    title: {
      text: 'Adphorus Issues'
    },
    xAxis: {
      type: 'datetime',
      labels: {
        format: '{value:%Y-%b-%e}'
      },
      title: {
        enabled: true,
        text: 'Days'
      },
      events:{
        afterSetExtremes:function(){
          since = this.min;
          until = this.max;
          $.getJSON(
            url + '?repo=' + repo + '&since=' + since + '&until=' + until + '&durations=' + durationList,
            function(newData){
              this.chart.yAxis[0].removePlotLine('median');
              this.chart.yAxis[0].removePlotLine('average');
              this.chart.yAxis[0].addPlotLine(
                getPlotLine('median', newData.median)
              );
              this.chart.yAxis[0].addPlotLine(
                getPlotLine('average', newData.average)
              );
            }.bind(this));
        }
      }
    },
    yAxis: {
      labels: {
        formatter: function() {
          var duration = moment.duration(this.value);
          return duration.humanize();
        }
      },
      title: {
        text: 'Duration'
      },
      plotLines: [
        getPlotLine('median', data.median),
        getPlotLine('average', data.average)
      ]
    },
    legend: {
      enabled: true,
    },
    tooltip: {
      formatter: function(){
        var body = ''
        if (typeof(this.point) === 'undefined') {
          var duration = moment.duration(this.points[1].y);
          var low = moment.duration(this.points[0].point.low);
          var high = moment.duration(this.points[0].point.high);
          body += '<b>estimation:</b> ' + duration.humanize();
          body += '<br/><b>deviation:</b> ' + low.humanize() + ' to ' + high.humanize()
        } else {
          body += '<b>' + this.point.title + '</b><br/>';
          for (var pipeline in this.point.durations){
            if (!this.point.durations.hasOwnProperty(pipeline)){continue}
            var duration = moment.duration(this.point.durations[pipeline]);
            body += '<b>' + pipeline + '</b>:' + duration.humanize() + '<br/>'
          }
        }
        return body;
      },
    },
    plotOptions: {
      scatter: {
        marker: {
          radius: 5,
          states: {
            hover: {
              enabled: true,
              lineColor: 'rgb(100,100,100)'
            }
          }
        },
        states: {
          hover: {
            marker: {
              enabled: false
            }
          }
        }
      },
      line: {
        marker: {
          radius: 0,
          states: {
            hover: {
              enabled: false,
            }
          }
        },
        tooltip: {
          enabled: false
        }
      },
      series: {
        cursor: 'pointer',
        point: {
          events: {
            click: function() {
              window.open(this.url);
            }
          }
        },
        events: {
          legendItemClick: function () {
            return false;
          }
        }
      }
    },
    series: data.series
  };

  Highcharts.stockChart('chart', options,
    function(chart){
      $('#repos').change(
        function() {
          var endpoint = '/' + '?repo=' + $(this).val();
          window.location.href = endpoint;
        }
      );
      $('#pipeline-form').submit(
        function(e){
          e.preventDefault();
          console.log(chart);
          var durationList = $('#pipelines').val().join();
          var endpoint = '/' + '?repo=' + $('#repos').val() + '&since=' + since + '&until=' + until +  '&durations=' + durationList;
          window.location.href = endpoint;
          /* for(var i=0; i<=seriesIds.length; i++) {
            chart.series[seriesIds[i]].remove();
            console.log(chart.series);
          }
          $.getJSON(endpoint, function(data) {
            chart.series[0].update(data.series[0].data);
          });*/
        }
      );
    });
});
$('#pipelines').select2({dropdownCssClass: 'dropdown-inverse'});
$('#repos').select2({dropdownCssClass: 'dropdown-inverse'});
</script>
{% endblock %}
