{% extends "base.html" %}
{% load static %}

{% block header %}
<style>
#issue_numbers {
  border-radius: 5px;
  border: 2px solid #3498db;
  height: 42px;
}
#submit {
  margin-top: 30px;
}
.repos-wrapper {
  margin-top: 35px;
}
</style>
{% endblock %}

{% block container %}
<div class="row">
  <div class="col-md-12">
    <div id="chart" style="width:100%; height:800px;"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-3 repos-wrapper">
    <form id="repos-form">
      <div class="form-group">
        <select id="repos" class="form-control select select-primary select-block mbl">
          {% for repo, selected in repos.items %}
          <option value="{{ repo }}" {% if selected %}selected="selected"{% endif %}>
          {{ repo }}
          </option>
          {% endfor %}
        </select>
      </div>
    </form>
  </div>
  <div class="col-md-9">
    <form id="filter-form" class="form-inline">
      <div class="form-group">
        <label>
          Pipelines<br/>
          <select id="pipelines" multiple="multiple"
              class="form-control multiselect multiselect-info"
              style="max-width:320px;">
            {% for pipeline, selected in pipelines.items %}
            <option value="{{ pipeline }}" {% if selected %}selected="selected"{% endif %}>
            {{ pipeline }}
            </option>
            {% endfor %}
          </select>
        <label>
      </div>
      <div class="form-group">
        <label>
          Labels<br/>
          <select id="labels" multiple="multiple"
              class="form-control multiselect multiselect-info"
              style="max-width:320px;">
            {% for label, selected in labels.items %}
            <option value="{{ label }}" {% if selected %}selected="selected"{% endif %}>
            {{ label }}
            </option>
            {% endfor %}
          </select>
        <label>
      </div>
      <div class="form-group">
        <label>
          Issue Numbers <small>(csv)</small><br/>
          <input type="text" id="issue_numbers" name="issue_numbers" value="{% if issue_numbers %}{{issue_numbers}}{% endif %}"/>
        </label>
      </div>
      <button id="submit" class="btn btn-primary">Search</button>
    </form>
  </div>

</div>
{% endblock %}

{% block footer %}
<script src="{% static 'js/chart.js' %}"></script>
{% endblock %}
