{% extends "base.html" %}
{% load static %}

{% block container %}
<div class="row">
  <div class="col-md-12">
    <div id="chart" style="width:100%; height:800px;"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <form id="repos-form">
      <div class="form-group">
        <select id="repos" class="form-control select select-primary select-block mbl">
          {% for repo, selected in repos.items %}
          <option value="{{ repo }}" {% if selected %}selected="selected"{% endif %}>
          {{ repo }}
          </option>
          {% endfor %}
        </select>
      </div>
    </form>
  </div>
  <div class="col-md-4 col-md-offset-4">
    <form id="pipeline-form" class="form-inline">
      <div class="form-group">
        <select id="pipelines" multiple="multiple"
                               class="form-control multiselect multiselect-info">
          {% for pipeline, selected in pipelines.items %}
          <option value="{{ pipeline }}" {% if selected %}selected="selected"{% endif %}>
          {{ pipeline }}
          </option>
          {% endfor %}
        </select>
      </div>
      <button id="submit" class="btn btn-primary">Search</button>
    </form>
  </div>
</div>
{% endblock %}

{% block footer %}
<script src="{% static 'js/chart.js' %}"></script>
{% endblock %}
